# Pandas: Importing and Exporting

In [29]:
import os

## IMPORTING AND EXPORTING DELIMITED FILES

### Comma separated values (CSV) files

A file that is separated (or delimited) by commas (or anything else)

Example:
    
**-- comma separated file --**

    name,year,value
    Andre,2020,100
    Fernanda,1900,1
    
**-- tab separated file --**

    name    year    value
    Andre    2020    100
    Fernanda    1900    1
    
**-- tab separated file (another way) --**

    name\tyear\tvalue
    Andre\t2020\t100
    Fernanda\t1900\t1
    
**-- hash separated file --**

    name#year#value
    Andre#2020#100
    Fernanda#1900#1

**-- pipe separated file --**

    name|year|value
    Andre|2020|100
    Fernanda|1900|1

    ...

### Import comma-separated file (the default)

In [30]:
import pandas as pd

In [31]:
!pwd

/c/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202006/classes/week2/4_Pandas_Import_Export

In [33]:
!ls

data
data copy
import-export-pandas.ipynb
import-export-pandas-original.ipynb
import-export-pandas-v_original.ipynb
vehicles_import.zip

In [35]:
pd.read_csv('data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [38]:
banana = pd.read_csv('data/vehicles.csv')

In [39]:
banana

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [40]:
df = pd.read_csv('data/vehicles.csv')

In [42]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [45]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [48]:
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [49]:
df.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.0,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [50]:
df.tail(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [51]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [52]:
# relative path
pd.read_csv('data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [53]:
!pwd

/c/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202006/classes/week2/4_Pandas_Import_Export

In [56]:
# absolute path
pd.read_csv('/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export/data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In this way, the `pd.read_csv()` method is just outputing the results on screen.

If I wanted to store it in a variable I would have to **assign** this result into a variable

In [59]:
pd.read_csv('data/vehicles.csv').head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [10]:
vehicles = pd.read_csv('data/vehicles.csv')

## Import tab-delimited file

In [60]:
pd.read_csv('data/vehicles_tab.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4319, saw 2

In [61]:
pd.read_csv('data/vehicles_tab.txt', sep='\t')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [63]:
print('\tb\n\t\ta')

	b
		a

In [64]:
df = pd.read_csv('data/vehicles_tab.txt', sep='\t')

In [65]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Import pipe delimited file

In [69]:
df = pd.read_csv('data/vehicles_pipe.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4319, saw 2

In [70]:
df = pd.read_csv('data/vehicles_pipe.txt', sep='|')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Import hash delimited file

In [73]:
# hash
df = pd.read_csv('data/vehicles_hash.txt', sep='#')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

# Importing Excel Files

In [75]:
pd.read_csv('data/vehicles.xlsx')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 0-1: invalid continuation byte

In [ ]:
# !pip install xlrd

In [77]:
pd.read_excel('data/vehicles.xlsx')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [95]:
pd.read_excel('data/dados_artigo1.xlsx', 
              sheet_name='PT', 
              skiprows=[0, 2, 3, 33,34,35],
              usecols='B:M')

,C1 Entrada,T1 Entrada,C1 Saída,T1 Saída,C2 Entrada,T2 Entrada,C2 Saída,T2 Saída,C3 Entrada,T3 Entrada,C3 Saída,T3 Saída
0,0.274,0.234,0.370,0.126,0.232,0.244,0.065,0.088,0.227,0.227,0.087,0.088
1,0.179,0.159,0.366,0.376,0.167,0.152,0.100,0.146,0.169,0.202,0.135,0.077
2,1.852,3.072,0.342,0.236,1.627,1.852,0.196,0.187,3.327,1.699,0.206,0.228
3,1.042,1.087,0.178,0.103,1.099,1.317,0.173,0.045,1.747,1.124,0.125,0.068
4,0.247,0.224,0.162,0.108,0.249,0.264,0.155,0.065,0.234,0.242,0.155,0.060
5,1.037,1.982,0.176,0.030,1.037,1.982,0.032,0.000,1.037,1.982,0.062,0.000
6,0.699,0.849,0.294,0.123,0.739,0.747,0.273,0.057,0.689,0.692,0.143,0.035
7,0.264,0.279,0.228,0.126,0.232,0.252,0.173,0.024,0.234,0.227,0.102,0.050
8,0.532,0.557,0.243,0.065,0.607,2.107,0.226,0.042,0.739,1.017,0.102,0.050
9,0.069,0.113,0.017,0.014,0.063,0.066,0.053,0.000,0.062,0.063,0.012,0.001
10,2.883,13.923,1.023,0.399,2.103,3.168,0.887,0.117,1.788,1.721,0.464,0.132
11,2.313,3.648,1.047,0.263,2.343,5.973,0.911,0.026,2.748,2.628,0.321,0.003
12,0.423,0.438,1.426,0.171,0.461,0.386,0.927,0.072,0.438,0.423,0.434,0.102
13,2.216,3.858,0.918,0.369,2.336,4.331,0.532,0.171,2.471,1.998,0.669,0.163
14,4.691,4.721,1.039,0.468,4.758,4.811,0.661,0.468,4.976,4.863,0.774,0.186
15,4.391,4.323,0.888,0.827,4.593,4.503,0.585,0.171,5.111,6.281,0.427,0.095
16,7.421,7.466,0.583,0.056,6.746,7.503,0.659,0.192,7.001,7.376,0.335,0.033
17,0.483,0.476,0.425,0.071,0.551,0.498,0.629,0.086,0.491,0.536,0.365,0.033
18,0.573,0.858,0.297,0.525,0.633,0.618,0.591,0.291,0.911,0.573,0.365,0.101
19,0.596,0.678,0.185,0.554,0.596,0.633,0.427,0.133,0.558,0.566,0.321,0.363
20,0.612,0.605,0.564,0.218,0.552,0.552,0.769,0.142,0.537,0.567,0.988,0.104
21,1.490,1.385,0.747,0.000,1.460,1.430,0.656,0.571,1.460,1.475,0.000,0.112
22,0.905,0.890,0.903,0.301,0.965,0.875,0.601,0.149,0.935,1.752,0.586,0.195
23,1.925,1.850,0.710,0.173,1.760,2.052,0.672,0.043,2.322,2.195,0.551,0.066
24,1.842,1.985,0.639,0.255,1.850,1.752,0.480,0.233,1.887,1.760,0.692,0.149
25,0.560,0.507,0.878,0.261,1.115,0.132,0.689,0.541,1.137,0.552,0.742,0.156
26,0.324,0.444,0.232,0.072,0.311,0.324,0.104,0.000,0.329,0.639,0.000,0.000
27,0.389,0.499,0.157,0.000,0.341,0.536,0.190,0.000,0.386,0.421,0.000,0.000
28,0.206,0.204,0.185,0.000,0.214,0.214,0.000,0.000,0.211,0.216,0.000,0.000

## Extra: merged cells

In [135]:
my_col_name = pd.read_excel('data/dados_artigo1.xlsx', sheet_name='PT', usecols='O:T').columns[0]
my_col_name

'Porc_remocao'

In [136]:
df = pd.read_excel('data/dados_artigo1.xlsx', sheet_name='PT', usecols='O:T', header=1, skiprows=[2,3])

In [137]:
df.columns = [f'{my_col_name}_' + colname for colname in df.columns]

In [138]:
df.head()

,Porc_remocao_TS3,Porc_remocao_T3,Porc_remocao_TS7,Porc_remocao_T7,Porc_remocao_TS10,Porc_remocao_T10
0,0.000000,46.153846,71.982759,63.934426,61.674009,61.233480
1,0.000000,0.000000,40.119760,3.947368,20.118343,61.881188
2,81.533477,92.317708,87.953288,89.902808,93.808236,86.580341
3,82.917466,90.524379,84.258417,96.583144,92.844877,93.950178
4,34.412955,51.785714,37.751004,75.378788,33.760684,75.206612

## Extra: Google Sheets

In [146]:
spreadsheet = 'https://docs.google.com/spreadsheets/d/1Z7-d5KHX07ZpEShCKEnN5DV3izcCjU0IwQv816kPZmE/edit?usp=sharing'
working_spreadsheet = spreadsheet.replace('/edit?usp=sharing','/export?format=csv&gid=0')

In [147]:
pd.read_csv(working_spreadsheet)

   Andre
0      1
1      2

## Read from specific excel sheet

In [148]:
df = pd.read_excel('data/dados_artigo1.xlsx', sheet_name='dataset')
df.head()

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08

# Exporting datasets

## Export TO EXCEL

In [152]:
df.to_excel('data/aldrey_treated_newversion.xlsx', sheet_name='treated')

## BONUS: Saving to multiple sheets

In [157]:
writer = pd.ExcelWriter('data/aldrey_treated_new2.xlsx', engine = 'openpyxl')

In [158]:
df.to_excel(writer, sheet_name='treated')
df.to_excel(writer, sheet_name='untreated')

In [159]:
writer.save()
writer.close()

## Export TO CSV

In [160]:
df.head()

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08

In [161]:
df.to_csv('data/exported_file_v1.csv')

In [162]:
df.to_csv('data/exported_file_v1.csv', index=False)

In [163]:
pd.read_csv('data/exported_file_v1.csv')

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...
215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

In [ ]:
# pd.read_csv('data/exported_file_v2.csv', index_col=0)

**NOTE**: If you do not specify the argument `index=False`, the output in the csv file will create an unnamed index column with the *dataframe indexes*.

In [ ]:
df.to_csv('data/exported_file.csv', index=False)

## Export to csv using a specific separator

### Semicolon

In [164]:
df.to_csv('data/exported_file_semicolon.csv', index=False, sep=';')

### Pipe

In [165]:
df.to_csv('data/exported_file_pipe.csv', index=False, sep='|')

### plust or minus

In [166]:
df.to_csv('data/exported_file_plusminus.csv', index=False, sep='±')

# Import and export JSON files

What is a JSON file?

JSON 1:
```json
{ "name":"John", "age":30, "car":null }
```

JSON 2: 
```json
{"students":[
   {"name":"Andre", "age":23, "state":"SP"},
   {"name":"Rafael", "age":28, "state":"RJ"},
   {"name":"Claudia", "age":32, "state":"PA"},
   {"name":"Lajos", "age":28, "state":"MA"}
]}
```

In [169]:
data = pd.read_json('data/vehicles.json')

In [170]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

For a JSON file, you can have different `orient` options.

`'split'`: Dictionary containing indexes, columns, and data.

`'index'`: Nested dictionaries containing {index:{column:value}}.

`'columns'`: Nested dictionaries containing {column:{index:value}}

`'values'`: Nested list where each sublist contains the values for a record.

`'table'`: Nested dictionaries containing schema and data (records).

In [171]:
data.sample(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10819,Dodge,Stratus,1996,2.4,4,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,15.695714,18,26,21,423.190476,1600
15832,GMC,Sierra 1500 4WD,1991,5.0,8,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,23.543571,12,16,14,634.785714,2400
6841,Chevrolet,S10 Pickup 2WD,1989,2.5,4,Automatic 4-spd,Rear-Wheel Drive,Small Pickup Trucks,Regular,15.695714,18,26,21,423.190476,1600
20391,Kia,Amanti,2009,3.8,6,Automatic 5-spd,Front-Wheel Drive,Large Cars,Regular,17.347895,17,24,19,467.736842,1750
5459,Chevrolet,Colorado Crew Cab 4WD,2012,3.7,5,Automatic 4-spd,4-Wheel Drive,Small Pickup Trucks 4WD,Regular,18.311667,16,21,18,493.722222,1850
6056,Chevrolet,HHR FWD,2010,2.0,4,Manual 5-spd,Front-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,13.733750,21,29,24,370.291667,1400
32810,Toyota,Celica Supra,1985,2.8,6,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,17,22,19,467.736842,2150
7596,Chevrolet,Tahoe 1500 4WD,2011,5.3,8,Automatic 6-spd,4-Wheel Drive,Sport Utility Vehicle - 4WD,Gasoline or E85,19.388824,15,21,17,522.764706,1950
26951,Nissan,Sentra Wagon,1985,1.6,4,Automatic 3-spd,Front-Wheel Drive,Small Station Wagons,Regular,13.184400,23,27,25,355.480000,1350
32228,Suzuki,Vitara 4 Door,2004,2.5,6,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,18.311667,17,20,18,493.722222,1850

In [172]:
data.sample(10).to_json('data/vehicles_split.json', orient='split')
data.sample(10).to_json('data/vehicles_index.json', orient='index')
data.sample(10).to_json('data/vehicles_columns.json', orient='columns')
data.sample(10).to_json('data/vehicles_values.json', orient='values')
data.sample(10).to_json('data/vehicles_table.json', orient='table')

## Encoding

In [ ]:
#df.to_csv('data/teste.csv')

In [173]:
pd.read_csv('data/CSV.8859-1.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 1: invalid continuation byte

In [175]:
pd.read_csv('data/CSV.8859-1.csv', encoding='latin-1', sep=';')

,Data,Projeto(s),Ini,Ter,Horas,Atividade,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"qui, 02/01",GTE,11:30,12:00,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
1,"qui, 02/01",GTE,13:00,13:30,00:30,Apontamento de horas,NaN,NaN,NaN,NaN
2,"qui, 02/01",GTE,13:30,14:00,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
3,"qui, 02/01",GTE - FC,14:00,15:00,01:00,Troubleshooting Contrato X Rubricas,NaN,NaN,NaN,NaN
4,"qui, 02/01",GTE,15:00,15:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
93,"qua, 29/01",PRODESP,16:30,17:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
94,"qui, 30/01",PRODESP,14:00,18:00,04:00,Sistemas APESP,NaN,NaN,NaN,NaN
95,"sex, 31/01",RS,10:30,12:00,01:30,Revisão query Inova,NaN,NaN,NaN,NaN
96,"sex, 31/01",GTE,12:00,12:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
97,"sex, 31/01",PRODESP,13:30,14:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN

In [176]:
pd.read_csv('data/CSV.UTF8.csv', sep=';').sample(20)

,Data,Projeto(s),Ini,Ter,Horas,Atividade,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
90,"ter, 28/01",RS,16:00,16:30,00:30,Automatização da extração Inova,NaN,NaN,NaN,NaN
79,"sex, 24/01",Paulistana,10:00,11:00,01:00,Relatório de monitoramento,NaN,NaN,NaN,NaN
29,"seg, 13/01",Paulistana,11:00,12:00,01:00,Performance das plataformas,NaN,NaN,NaN,NaN
13,"ter, 07/01",PRODESP,10:00,11:30,01:30,Planilhas de convênios,NaN,NaN,NaN,NaN
18,"qua, 08/01",GTE - FC,10:30,12:00,01:30,Estudo para módulo orçamentário,NaN,NaN,NaN,NaN
91,"ter, 28/01",PRODESP,16:30,18:00,01:30,Sistemas APESP,NaN,NaN,NaN,NaN
58,"dom, 19/01",PRODESP,02:30,12:00,09:30,Sistemas APESP,NaN,NaN,NaN,NaN
42,"qua, 15/01",PRODESP,10:30,11:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
44,"qua, 15/01",PRODESP,12:30,13:30,01:00,Sistema APESP - ambiente Maurício,NaN,NaN,NaN,NaN
20,"qua, 08/01",GTE - FC,15:30,18:00,02:30,Compilação das pendências,NaN,NaN,NaN,NaN
86,"seg, 27/01",RS,14:00,16:00,02:00,Reunião CITEM,NaN,NaN,NaN,NaN
89,"ter, 28/01",GTE,15:00,16:00,01:00,Reunião Financeiro - Backlog,NaN,NaN,NaN,NaN
51,"qui, 16/01",PRODESP,16:30,17:00,00:30,Ajuda a desenvolvedor,NaN,NaN,NaN,NaN
15,"ter, 07/01",PRODESP,14:00,15:30,01:30,Planilhas de convênios,NaN,NaN,NaN,NaN
53,"sex, 17/01",RS,09:30,13:30,04:00,Carga CGRH 12/2019 e atualização Inova,NaN,NaN,NaN,NaN
87,"ter, 28/01",PRODESP,09:30,11:30,02:00,Sistemas APESP,NaN,NaN,NaN,NaN
60,"seg, 20/01",PRODESP,12:30,13:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
75,"qui, 23/01",RS,13:30,14:00,00:30,Sobre a extração da terceira edição,NaN,NaN,NaN,NaN
66,"ter, 21/01",GTE,13:30,14:00,00:30,Preparação para reunião sobre AP,NaN,NaN,NaN,NaN
96,"sex, 31/01",GTE,12:00,12:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN

# Importing files from URLs

Example: https://github.com/rfordatascience/tidytuesday

In [177]:
pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-06-09/firsts.csv')

,year,accomplishment,person,gender,category
0,1738,First free African-American community,Gracia Real de Santa Teresa de Mose (later nam...,African-American Firsts,Social & Jobs
1,1760,First known African-American published author,Jupiter Hammon (poem An Evening Thought,Female African American Firsts,Arts & Entertainment
2,1768,First known African-American to be elected to ...,"Wentworth Cheswell, town constable in Newmarke...",African-American Firsts,Social & Jobs
3,1773,First known African-American woman to publish ...,"Phillis Wheatley (Poems on Various Subjects, R...",Female African American Firsts,Arts & Entertainment
4,1773,First separate African-American church,"Silver Bluff Baptist Church, Aiken County, Sou...",African-American Firsts,Religion
...,...,...,...,...,...
474,2019,First African-American to win an Academy Award...,Hannah Beachler for Black Panther [253],African-American Firsts,Arts & Entertainment
475,2019,First member of the British royal family of Af...,Archie Mountbatten-Windsor,African-American Firsts,Social & Jobs
476,2019,First African-American secretary of the Smiths...,Lonnie Bunch,African-American Firsts,Arts & Entertainment
477,2019,First African-American female director of an A...,Denise Verret[254],Female African American Firsts,Arts & Entertainment
478,2019,First African-American full-time curator at th...,Ashley James.[255],African-American Firsts,Arts & Entertainment

In [22]:
pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-06-09/firsts.csv')

,year,accomplishment,person,gender,category
0,1738,First free African-American community,Gracia Real de Santa Teresa de Mose (later nam...,African-American Firsts,Social & Jobs
1,1760,First known African-American published author,Jupiter Hammon (poem An Evening Thought,Female African American Firsts,Arts & Entertainment
2,1768,First known African-American to be elected to ...,"Wentworth Cheswell, town constable in Newmarke...",African-American Firsts,Social & Jobs
3,1773,First known African-American woman to publish ...,"Phillis Wheatley (Poems on Various Subjects, R...",Female African American Firsts,Arts & Entertainment
4,1773,First separate African-American church,"Silver Bluff Baptist Church, Aiken County, Sou...",African-American Firsts,Religion
...,...,...,...,...,...
474,2019,First African-American to win an Academy Award...,Hannah Beachler for Black Panther [253],African-American Firsts,Arts & Entertainment
475,2019,First member of the British royal family of Af...,Archie Mountbatten-Windsor,African-American Firsts,Social & Jobs
476,2019,First African-American secretary of the Smiths...,Lonnie Bunch,African-American Firsts,Arts & Entertainment
477,2019,First African-American female director of an A...,Denise Verret[254],Female African American Firsts,Arts & Entertainment
478,2019,First African-American full-time curator at th...,Ashley James.[255],African-American Firsts,Arts & Entertainment

In [23]:
af = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-06-09/firsts.csv')

In [24]:
af.head()

,year,accomplishment,person,gender,category
0,1738,First free African-American community,Gracia Real de Santa Teresa de Mose (later nam...,African-American Firsts,Social & Jobs
1,1760,First known African-American published author,Jupiter Hammon (poem An Evening Thought,Female African American Firsts,Arts & Entertainment
2,1768,First known African-American to be elected to ...,"Wentworth Cheswell, town constable in Newmarke...",African-American Firsts,Social & Jobs
3,1773,First known African-American woman to publish ...,"Phillis Wheatley (Poems on Various Subjects, R...",Female African American Firsts,Arts & Entertainment
4,1773,First separate African-American church,"Silver Bluff Baptist Church, Aiken County, Sou...",African-American Firsts,Religion

## Extra: Dynamic table

In [179]:

pd.read_excel('data/dados_artigo1.xlsx', sheet_name='dinamica', skiprows=[0, 1,2])

     Row Labels          dry          wet  Grand Total
0         color   707.354118   561.762869  1269.116987
1           fev          NaN   167.050564   167.050564
2           mar          NaN   299.139626   299.139626
3           abr   365.311391          NaN   365.311391
4           mai   236.788123          NaN   236.788123
..          ...          ...          ...          ...
60          mai   258.426990          NaN   258.426990
61          jun   268.590074          NaN   268.590074
62          set     0.000000          NaN     0.000000
63          out          NaN    70.311359    70.311359
64  Grand Total  4273.776251  3976.096978  8249.873229

[65 rows x 4 columns]

In [182]:
pd.read_csv('data/vehicles.zip')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [184]:
pd.read_csv('data/data.7z')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbc in position 2: invalid start byte